.novel_card{
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
  background: #fff;
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
          box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  -webkit-filter: drop-shadow(1px 3px 2px rgba(0,0,0,0.2));
  filter: drop-shadow(1px 3px 2px rgba(0,0,0,0.2));
  overflow-x: auto;
}

@media (max-width: 640px) {
  .novel_card{
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 12px;
  }
}

.novel_card_closed {
  padding-top: 0px;
  height: 2px;
  margin-bottom: 2px;
}

.novel_card_closed_hardly {
  display: none;
}

.novel_title {
  color: #FD6532;
  font-size: 120%;
  font-weight: bold;
  text-decoration: underline;
}

.novel_synopsis{
  color: #660033;
}

@media (max-width: 640px) {
  .novel_info{
    overflow-y: hidden;
    max-height: 200px;
    -webkit-transition: all 300ms 0s ease;
    transition: all 300ms 0s ease;
  }
  .novel_info.open{
    max-height: 1000px;
  }
}

.center{
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blue{
  color: #0033cc;
}
.red{
  color: #dd0000;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#aaccff), to(#fff));
  background: linear-gradient(to bottom, #aaccff, #fff);
  background-repeat: no-repeat;
}

#header {
  padding-top: 70px;
  padding-bottom: 70px;
}

#title {
  color: #0033cc;
  font-size: 38px;
  text-decoration: underline;
}

.delete_button{
  float: right;
  padding: 0px 50px;
  font-size: inherit;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
          filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
}
@media (max-width: 640px) {
  .delete_button{
    padding: 0px 25px;
  }
}
.rank_num{
  color: #33aaaa;
  font-weight: bold;
  display: inline-block;
  width: 45px;
  font-size: 115%;
}

#float_button_box{
  display: block;
  position: fixed;
  bottom: 4%;
  right: 1%;
  z-index: 9999;
  opacity: 0.8;
}

#go_forward_10{
  padding: 20px;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
          filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
}
#go_forward_100{
  padding: 20px;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
          filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
}

@media (max-width: 640px) {
  #go_forward_10{
    padding: 5px;
  }
  #go_forward_100{
    padding: 5px;
  }
}

.margin-right{
  margin-right: 50px;
}

#loading_text{
  position: fixed;
  color: #0033cc;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 29px;
  z-index: 10000;
}

#closed_card_ncodes_json{
  height: 130px;
}

.open_synopsis_button{
  display: none;
}

@media (max-width: 640px) {
  .open_synopsis_button{
    display: block;
    z-index: 9000;
    opacity: 0.9;
    font-size: inherit;
    padding: 0;
    width: 100%;

    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
            box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
  }
}


.btn-basic2:hover {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
